<section class="main_information card_form" id="card_form">
  <table class="information card_information" id="payment_card_<%= payment_source.id %>">
    <tbody class="delete_trash">
      <tr>
        <th>Card Number:</th>
        <th>**** **** ****
          <%= payment_source.last_4 %></th>
        <% if current_page?(controller: 'application', action: 'account') %>
          <th rowspan="2">
            <%= link_to image_tag(asset_pack_path 'media/images/Trash_can.svg' ), payment_source, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-trash-can", remote: true %>
          </th>
        <% end %>
      </tr>
      <tr>
        <th>Expiry date:</th>
        <th><%= payment_source.exp_month %>/<%= payment_source.exp_year %></th>
      </tr>
    </tbody>
  </table>
</section>
