<main class="current_request_page">
  <div class="current_request_page--message">
    <% if current_user.student?%>
      <% if !current_user.help_requests.where(active: true).any? %>
        <section class="headlines">
          <h1>Current request</h1>
        </section>
        <p>Need help?</p>
        <%= link_to "Find a Tutor", new_help_request_path, class: "common_button" %>
      <% else %>
        <section class="headlines">
          <h1>Your requests</h1>
        </section>
        <section class="wrapper_filter_and_help_requests">
          <%= render 'help_requests/filter_of_help_requests' %>
          <div id='list_of_help_requests'>
            <%= render 'help_requests/help_requests_list' %>
          </div>
        </section>
        <div class="container_find_button">
          <%= link_to "Find a Tutor", new_help_request_path, class: "common_button" %>
        </div>
      <% end %>
    <% else%>
      <section class="headlines">
        <h1>Current Requests</h1>
      </section>
        <%= render 'help_requests/filter_of_help_requests' %>
        <div id='list_of_help_requests'>
          <%= render 'help_requests/help_requests_list' %>
        </div>
    <% end %>
  </div>
</main>